/* Test */

body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy;
    background-color: rgb(153, 216, 97);
}


#header-name{
    font-size: 40px;
    color: black;
    padding: 15px;
    margin: 0px 0px 0px 0px;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}
#search{
    flaot: right;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
#main-header{
    height: 80px;
}
#main-image{
    width: 700px;
    height: 250px;
    float: left;
}
#side-image{
    width:300px;
    height: 250px;
    float: right;
}
#welcome-header{
    font-size: 35px;
    color: black;
    padding: 5px;
    float: left;
    font-family: fantasy;
}
#welcome-text{
    float: left;
    color: black;
    width: 650px;
    margin: 20px 0px 20px 0px
    font-size: 12px;

}
#recent-news{
    float: right;
    width: 300px;
    margin: 20px 0px 20px 0px;
}
#recent-news > header{
    margin-left: 5px;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
}
footer{
    width:100%;
    background-color: antiquewhite;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
}